img{
  width: 60%;
  align-self: center;
}

.card{
  border: rgb(103, 102, 105) 3px solid;
  display: flex;  
  flex-direction: column;
  margin-left:5%;
  margin-right:5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row{
  display: flex;  
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  justify-content: center;
  padding:20px;
}

.container{
  justify-content: center;
}
.details{
  font-size: 20px;
  color: rgb(97, 64, 128);
  padding:20px;
}

.title{
  font-size: 20px;
  background-color: rgb(97, 64, 128);
  color: white;
  text-align: center;
  margin:20px;
  padding:5px;
}

.homepage_links{
  color:  rgb(97, 64, 128);
  padding: 25%;
  font-size: larger;
  }

.loginlink{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1
}

.form_panel {
  padding:2%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  text-align:center;
  box-shadow: 2px 2px 2px 3px #999;
  margin: auto;
  min-width: 350px;
  width: 80%;
  margin-top:3%;
  background-color: black;
}

.navitems{
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item{
  margin-left:15px;
  font-size: 20px;
  color: black;
  align-self: center;
}

.username{
  font: 30px sans-serif;
  color:black;
  justify-content: 'flex-end';
  align-self:flex-end;
  vertical-align: middle;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content:flex-end;
  align-items: flex-end;
  vertical-align: middle;
}

.small_header{
  font: 30px sans-serif;
  color:black;
  margin: .5cm;
}

.img_icon {
  align-self: center;
    width:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;  
}
/* contact */
.card1{
    /* border: rgb(103, 102, 105) 3px solid; */
    display: flex;  
    flex-direction: column;
    margin-left:5%;
    margin-right:5%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

.contact-card {
    width: 80%;
    height: 700px;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 30px;
    border: 2px solid rgb(224, 217, 217);
    border-radius: 50px;
}

/* Upper half */
.contact-upper {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 12px;
}

.contact-upper img {
    max-width: 90%;   /* controls image width */
    max-height: 90%;  /* controls image height */
    object-fit: contain;
}

/* Lower half */
.contact-lower {
    height: 50%;
    height: 350px;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 12px;
    padding: 12px;
}

/* Lower left image */
.contact-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #6f7275;
    padding-top: 12px;
}

.contact-image img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

/* Lower right text */
.contact-text {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
